
{{#if noSong}}
<span class="now-playing-empty">Select a song to start playing.</span>
{{else}}
<img class="now-playing-artwork" src="{{song.artwork}}">
{{audio-control song=song}}
<div class="now-playing-body">
  <p class="now-playing-details">
    <span class="now-playing-name">{{song.name}}</span> -
    <span class="now-playing-artist">{{song.artist}}</span>
  </p>
  <div class="now-playing-player">
    <p class="duration" {{action 'toggleShow'}}>
      {{#if showCurrent}}
      {{format-duration currentTime}}
      {{else}}
      {{format-duration remainingTime}}
      {{/if}}
    </p>
  </div>
</div>
{{/if}}
